# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: main

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    paths:
      - "**.py"
      - "**requirements*.txt"
      - pyproject.toml
      - .pre-commit-config.yaml
      - ".github/workflows/main.yml"
      - "!docs/**"
  workflow_dispatch:


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"

      - name: Build wheel
        run: python -m pip wheel -w dist .

      - name: Upload wheel as artifact
        uses: actions/upload-artifact@v4
        with:
          name: used-by_wheel
          path: dist/*.whl

      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install . -r requirements-dev.txt

      - name: Collect Coverage
        run: |
          coverage run -m pytest -vv
          coverage report && coverage xml

      - uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{secrets.CODECOV_TOKEN}}
        with:
          files: ./coverage.xml
          fail_ci_if_error: true # optional (default = false)
          verbose: true # optional (default = false)
