name: used by self test

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  used-by:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./  # self test
        with:
          repo: '${{ github.repository }}' # current repository
          update-badge: 'true'

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7
        with:
          add-paths: "README.md" # the file path to commit
          commit-message: "chore: update used-by badge by github-actions[bot]"
          title: "chore: automatic update used-by badge"
          base: main
          labels: skip-changelog
          delete-branch: true
